/* Import Bootstrap & Icons */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Globaler Body Style */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Klickbare Zeilen in Tabellen */
.cursor-pointer {
    cursor: pointer;
}
